
/* this is in App */
.individual-items-main-view {
  width: 100%;
}

.images-container {
  /* justify-content: center; */
  width: 50%;
  display: flex;
}

.product-name {
  width: 100%;
}

.individual-items-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.photo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.single-photo {
  display:flex;
  background-color: red;
  width:60%;
  height: auto;
  border-style: dotted;
}

.main-image {
  display:flex;
  border-style: dotted;
  background-color: red;
}