h1 {
  color: red;
  margin-left: 20px;
}

/* this is in App */
.main-preview {
  width: 100%;
}

.image-component {
  /* justify-content: center; */
  width: 50%;
  display: flex;
}

.product-name {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.photo-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: royalblue;
}

.single-photo {
  display:flex;
  background-color: red;
  width:60%;
  height: auto;
  border-style: dotted;
}

.main-image {
  display:flex;
  border-style: dotted;
  background-color: royalblue;
}