h1 {
  color: red;
  margin-left: 20px;
}

/* this is in App */
#main-preview {
  display: flex;
  justify-content: center;
}

#image-module {
  display: flex;
  /* justify-content: center; */
}

#product-name {
  display: flex;
  align-items: flex-start;
}

#photo-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column-reverse;
  background-color: royalblue;
}